<div class="head">
    <div class="">
	    <a class="j-scroll-to" href="#concept"><img src="/img/logo.png" alt="" class="head-logo"></a>
	    <div class="head-menu">
	    	<a href="#">Home</a>
	    	<a class="j-scroll-to" href="#concept">Concept Art</a>
	    	<a class="j-scroll-to" href="#music">Music</a>
	    	<a class="j-scroll-to" href="#about">About</a>
	    	<a class="j-scroll-to" href="#contact">Contact</a>
	    </div>
	    <div class="social-icon">
	    	<a href="#" class="social-art"></a>
	    	<a href="#" class="social-fb"></a>
	    	<a href="#" class="social-tw"></a>
	    </div>
    </div>
</div>