<div class="head">
    <div class="wrap">
	    <img src="/img/logo.png" alt="" class="head-logo">
	    <div class="head-menu">
	    	<a href="#">Home</a>
	    	<a href="#">Services</a>
	    	<a href="#">Concept Art</a>
	    	<a href="#">Music</a>
	    	<a href="#">About</a>
	    	<a href="#">Contact</a>
	    </div>
	    <div class="social-icon">
	    	<a href="#" class="social-art"></a>
	    	<a href="#" class="social-fb"></a>
	    	<a href="#" class="social-tw"></a>
	    </div>
    </div>
</div>