<div id="overlay">
	<div class="modal--fz" id="project">
		<div class="project-modal">
			<div class="modal__close">+</div>
			<div class="project-modal-left">
				<img src="https://cdnb.artstation.com/p/assets/images/images/002/985/199/large/solidus-dynamics-5.jpg?1468133264" alt="">
				<img src="https://cdna.artstation.com/p/assets/images/images/002/985/198/large/solidus-dynamics-4.jpg?1468133261" alt="">
				<img src="https://cdnb.artstation.com/p/assets/images/images/002/985/197/large/solidus-dynamics-3.jpg?1468133259" alt="">
			</div>
			<div class="project-modal-right">
				<div class="portfolio-one-descr__title">Infiltration Nodes</div>
				<div class="portfolio-one-descr__type">Concept Art </div>
				<p class="project-modal__descr">
					Solidus Dynamics is a studio of digital art and music creatives based out of New York City.	Our goal is to bring imagination to life in visually stunning graphics and inspiring soundtracks. Our professional artists have the expertise of working on various concept art projects and sound design for video games, television, and movie projects. Behind Solidus Dynamics is a team of professional digital artists, composers, and developers lead by CEO Mikhail Romanchenko and Creative Director Kirill Bulgakov.
				</p>
				<div class="more-project">
					<div class="more-project__title">More project</div>
					<a href="#" class="more-project-one" style="background-image: url(/tmp/slide3.jpg);"></a>
					<a href="#" class="more-project-one" style="background-image: url(/tmp/slide2.jpg);"></a>
					<a href="#" class="more-project-one" style="background-image: url(/tmp/slide1.jpg);"></a>
				</div>
			</div>
		</div>
	</div>
</div>