<div id="about" class="about">
	<div class="wrap about__dark">
		<div class="about-inn">
			<h2>ABOUT US</h2>

			<p>Solidus Dynamics is a studio of digital art and music creatives based out of New York City.	Our goal is to bring imagination to life in visually stunning graphics and inspiring soundtracks. Our professional artists have the expertise of working on various concept art projects and sound design for video games, television, and movie projects. Behind Solidus Dynamics is a team of professional digital artists, composers, and developers lead by CEO Mikhail Romanchenko and Creative Director Kirill Bulgakov.</p>

			<h3>MEET MIKHAIL</h3>
			<p>I have been an avid gamer since I got my first computer in 1994. Gaming is not just a hobby for me, it is a passion born of the incredibly imaginative words that computer games can take you to.</p>
			<p>Over the years I have been an active member of several gaming communities and project initiatives that aimed to bring gamers together, including the MechWarrior clans; Digital Forrest, an online game delivery program aimed at connecting gamers with mobile game developers. I had the pleasure to participate in Eve Online’s Council of Stellar Management multiple times. As an elected representative of the gaming community I acted as a bridge between the game developers and fans of the game and had the opportunity to shape the course of the game and its future expansions.</p>
			<p>Today I am shaping Solidus Dynamics into a game driven concept art studio.</p>

			<h3>MEET KIRILL</h3>
			<p>Creativity and passion for outstanding designs and captivating stories is a part of who I am. I take inspiration from traditional artists, modern games, movies. Above all world around is a greatest source of inspiration for me.</p>
			<p>I've been engaged in video-game and movie industry as a concept artist and art director for 7 years now. In my work I go above and beyond to create an articulate and contemplative design idea. Some time ago I made a decision to establish a concept art studio. Following my dream, I've gathered a team of like-minded specialists, among them experienced illustrators, production designers, sculptors, technical artists, composers, and writers.</p>

			<h4>SOLIDUS DYNAMICS IS A TEAM OF INDUSTRY PROFESSIONALS PASSIONATE ABOUT THEIR WORK, READY TO TAKE ON ANY CHALLENGES AND BRING YOUR IDEAS TO LIFE.</h4>
		</div>
	</div>
</div>