<div class="portfolio" id="concept">
	<h2>CONCEPT ART</h2>
	<div class="portfolio-inn">
		<div class="portfolio-one" style="background-image: url(/tmp/slide1.jpg);">
			<a href="#project" class="open_modal portfolio-one-descr">
				<div class="portfolio-one-descr__title">Infiltration Nodes</div>
				<div class="portfolio-one-descr__type">Concept Art </div>
				<div class="portfolio-one-content">
					<div class="portfolio-one-content__image">12</div>
					<div class="portfolio-one-content__video">1</div>
				</div>
			</a>
		</div>
		<div class="portfolio-one portfolio-sm" style="background-image: url(/tmp/slide2.jpg);">
			<a href="#project" class="open_modal portfolio-one-descr">
				<div class="portfolio-one-descr__title">Infiltration Nodes</div>
				<div class="portfolio-one-descr__type">Concept Art </div>
				<div class="portfolio-one-content">
					<div class="portfolio-one-content__image">12</div>
					<div class="portfolio-one-content__video">1</div>
				</div>
			</a>
		</div>
		<div class="portfolio-one portfolio-sm" style="background-image: url(/tmp/slide3.jpg);">
			<a href="#project" class="open_modal portfolio-one-descr">
				<div class="portfolio-one-descr__title">Infiltration Nodes</div>
				<div class="portfolio-one-descr__type">Concept Art</div> 
				<div class="portfolio-one-content">
					<div class="portfolio-one-content__image">12</div>
					<div class="portfolio-one-content__video">1</div>
				</div>
			</a>
		</div>
		<div class="portfolio-one" style="background-image: url(/tmp/slide1.jpg);">
			<a href="#project" class="open_modal portfolio-one-descr">
				<div class="portfolio-one-descr__title">Infiltration Nodes</div>
				<div class="portfolio-one-descr__type">Concept Art</div> 
				<div class="portfolio-one-content">
					<div class="portfolio-one-content__image">12</div>
					<div class="portfolio-one-content__video">1</div>
				</div>
			</a>
		</div>
		<div class="portfolio-one" style="background-image: url(/tmp/slide2.jpg);">
			<a href="#project" class="open_modal portfolio-one-descr">
				<div class="portfolio-one-descr__title">Infiltration Nodes</div>
				<div class="portfolio-one-descr__type">Concept Art </div>
				<div class="portfolio-one-content">
					<div class="portfolio-one-content__image">12</div>
					<div class="portfolio-one-content__video">1</div>
				</div>
			</a>
		</div>
		<div class="portfolio-one" style="background-image: url(/tmp/slide3.jpg);">
			<a href="#project" class="open_modal portfolio-one-descr">
				<div class="portfolio-one-descr__title">Infiltration Nodes</div>
				<div class="portfolio-one-descr__type"></div>Concept Art 
				<div class="portfolio-one-content">
					<div class="portfolio-one-content__image">12</div>
					<div class="portfolio-one-content__video">1</div>
				</div>
			</a>
		</div>
		<div class="portfolio-one" style="background-image: url(/tmp/slide1.jpg);">
			<a href="#project" class="portfolio-one-descr">
				<div class="portfolio-one-descr__title">Infiltration Nodes</div>
				<div class="portfolio-one-descr__type">Concept Art </div>
				<div class="portfolio-one-content">
					<div class="portfolio-one-content__image">12</div>
					<div class="portfolio-one-content__video">1</div>
				</div>
			</a>
		</div>
		<div class="portfolio-one portfolio-sm" style="background-image: url(/tmp/slide2.jpg);">
			<a href="#project" class="open_modal portfolio-one-descr">
				<div class="portfolio-one-descr__title">Infiltration Nodes</div>
				<div class="portfolio-one-descr__type">Concept Art </div>
				<div class="portfolio-one-content">
					<div class="portfolio-one-content__image">12</div>
					<div class="portfolio-one-content__video">1</div>
				</div>
			</a>
		</div>
		<div class="portfolio-one portfolio-sm" style="background-image: url(/tmp/slide3.jpg);">
			<a href="#project" class="open_modal portfolio-one-descr">
				<div class="portfolio-one-descr__title">Infiltration Nodes</div>
				<div class="portfolio-one-descr__type">Concept Art</div> 
				<div class="portfolio-one-content">
					<div class="portfolio-one-content__image">12</div>
					<div class="portfolio-one-content__video">1</div>
				</div>
			</a>
		</div>
	</div>
	<div class="wrap">
		<div class="music" id="music">
			<h2>MUSIC</h2>
			<iframe src="https://player.vimeo.com/video/171648290?title=0&byline=0&portrait=0" width="1220" height="686" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		
	</div>
</div>