<div class="main-slider">
	<div class="main-slider-inn">
		<a  href="#" class="main-slider-one" style='background-image: url(/tmp/slide1.jpg)'>
			<div class="slide-wrap">
				<div class="main-slider__descr">
					<div class="main-slider__title">Infiltration Nodes</div>
					<a href="#">Show more</a>
				</div>
			</div>
		</a>
		<a href="#" class="main-slider-one" style='background-image: url(/tmp/slide2.jpg)'>
			<div class="slide-wrap">
				<div class="main-slider__descr">
					<div class="main-slider__title">Infiltration Nodes</div>
					<a href="#">Show more</a>
				</div>
			</div>
		</a>
		<a  href="#" class="main-slider-one" style='background-image: url(/tmp/slide3.jpg)'>
			<div class="slide-wrap">
				<div class="main-slider__descr">
					<div class="main-slider__title">Infiltration Nodes</div>
					<a href="#">Show more</a>
				</div>
			</div>
		</a>
	</div>
	<div class="slider-dot">
		<div class="slider-dot-inn"></div>
	</div>
</div>